* { padding:0; margin:0; outline:0; }


a img { border:0; }

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }
.envoyer, .alignleft {float:left; display:inline; color:#333;}

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

a { color:#fff; text-decoration: underline; cursor:pointer; }
a:hover { text-decoration: none; }

#bg {
	background-image:url(../images/paralax/asteroid_ida.png);
	background-repeat:no-repeat;
	width:762px;
	height:352px;
	position:absolute;
	z-index:2;
} 

#conteneur {margin:auto; width:1024px; height:600px}

#parallax {position:relative; width:900px; height:400px;}
#cercles {margin-top:-0px; float:left}

# traits_droit { padding-left:350px}

#texte {padding-left:200px; padding-top:150px}


